@import "tailwindcss";

body {
  background-color: #1c1c1c;
  color: #ffff;
  box-sizing: border-box;
  font-family: Inter; 
  height: 100svh;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::selection{
  background-color: white;
  color: black;
}

