@import "tailwindcss";

body {
  background-color: #1c1c1c;
  color: #ffff;
  box-sizing: border-box;
  font-family: Inter;
  height: 100svh;
}

@font-face {
  font-family: "Inter";
  src: url(/./public/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf)
    format(woff);
  src: url(/./public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format(woff);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

::selection {
  background-color: white;
  color: black;
}
